%h2 Zákaznícka zóna

#customer_points
  = render 'customer_points', customer_points: current_customer.points_sum

.card.mb-3{:style => "max-width: 18rem;"}
  .card-header Môj QR kód
  .card-body
    .bg-white
      = raw @qr_code

%p
  = link_to @url, @url
