%h2 Zákaznícky dashboard

.card.text-white.bg-secondary.mb-3{:style => "max-width: 18rem;"}
  .card-header Môj stav
  .card-body
    %p.card-text 0 bodov

.card.text-white.bg-secondary.mb-3{:style => "max-width: 18rem;"}
  .card-header Môj QR kód
  .card-body
    %p.card-text TODO QR kod
