%h2 Zákaznícka zóna

.card.text-white.bg-secondary.mb-3{:style => "max-width: 18rem;"}
  .card-header Môj stav
  .card-body
    %p.card-text= "#{current_user.transactions.sum(:amount)} bodov"

.card.mb-3{:style => "max-width: 18rem;"}
  .card-header Môj QR kód
  .card-body
    .bg-white
      = raw @qr_code

%p
  = link_to @url, @url
