%h2 Zákaznícka zóna

.card.text-white.bg-secondary.mb-3{:style => "max-width: 18rem;"}
  .card-header Môj stav
  .card-body
    %p.card-text 0 bodov

.card.mb-3{:style => "max-width: 18rem;"}
  .card-header Môj QR kód
  .card-body
    .bg-white
      = raw @qr_code
