%h2 História transakcií
%p Transakcie vykonané pod profilom <strong>#{current_operator.full_name}</strong>
%p
  = link_to 'Ako môžem oskenovať zákazníka?', new_info_operator_transactions_path, class: ''
= render 'content', transactions: @transactions
