%h2 Transakcie
%p Transakcie vykonané pod profilom #{current_operator.email}

%table.table.table-bordered
  %thead
    %tr
      %th Zákazník
      %th Aktivita
      %th Zmena na bodoch
  %tbody
    - @transactions.each do |transaction|
      %tr
        %td= transaction.customer.email
        %td= transaction.transaction_category.name
        %td= transaction.amount
