%p Pre skenovanie zákazníka je potrebná natívna kamera.
%p Pri rozoznaní QR kódu kamerou potvrďte presmerovanie do prehliadača. Otvorí sa obrazovka s pridanám novej transakcie.
= link_to "Vrátiť sa späť", operator_transactions_path, class: 'btn btn-primary'
