#admin_organization_map,
#edit_admin_organization_map {
  width: 100%;
  height: 300px;
  border: 0.25rem solid #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}

#edit_admin_organization_map {
  height: 450px;
}
