.navbar.navbar-expand-lg {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 1.1rem;
}

ul.faq {
  li {
    line-height: 170%;
    margin-bottom: 0.7rem;
  }
}

ul.claims {
  padding-left: 1rem;
  margin-bottom: 0;
}

.navbar-brand {
  font-size: 2.1rem;
  // text-shadow: 2px 2px 1px ;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
